.small-image {
    height: 200px;       /* Set desired height */
    width: 100%;        /* Set desired width */
    object-fit: cover;   /* Keeps image within bounds without distortion */
    text-align: center;
  }